/* 피그마 라이브러리 공통클래스  */
:root{
    --basecolor : #333;
    --activecolor : #02AE74;
    --pointcolor : #FF3D43;
    --fontfamily : "Noto Sans KR";
}

body{
    color: var(--basecolor);

    /* link */
    font-family: var(--fontfamily);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0625rem;
}

a{
    color: var(--basecolor);
    text-decoration: none;
}

li{list-style: none;}
body,ul,p,div{
    margin: 0;
    padding: 0;
}

/* 공통 클래스 */
.title{
    color: #111;
font-size: 2.25rem;
}

.linkfont{
    color: #333;

/* link */
font-weight: 600;

}

.activecolor{
    color: var(--activecolor);
}

.pointcolor{
    color: var(--pointcolor);
}

.activecolorbg{
    background-color: var(--basecolor);
}

.container{
    display: flex;  /* 내 자식의 레이아웃*/
    margin: 0 auto;
    align-items: center;
    gap: 3.125rem;
    flex-shrink: 0;
}

.seach{
    width: 26.25rem;
    height: 4.23106rem;
}

.seach input{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4.36188rem;
    border: 2.094px solid var(--pointcolor, #FF3D43);
    background: #FFF;
}

.ullist{
    width: 50.1875rem;
    height: 3.5625rem;
    }

.ullist ul{
    display: flex;
    width: 50.1875rem;
    height: 3.5625rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1.69831rem;
    flex-shrink: 0;
}
/* 클래스가 ullist안의 li태그중에서
클래스 m인거 찾아
찾았으면 그 안의 두번째 이미지 태그 나타나지마 */
/* .ullist li img:nth-chlid(2){
    display:none
}

.ullist li.m:hover img:nth-chlid(2){
    display:block
}

.ullist li.m:hover img:nth-chlid(1){
    display:none
} */

.cs svg:hover path{
    fill: red;
}

.mb svg:hover path{
    fill: red;
}

.ht svg:hover path{
    fill: red;
}

.ct svg:hover path{
    fill: red;
}